.unauthorized-container {
  text-align: center;
  margin-top: 10vh;
  color: #333;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }

  .btn {
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 0.5rem;
  }
}
